body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eee;
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  border: 4px solid #333;
}

.square {
  width: 60px;
  height: 60px;
}

.square:nth-child(odd) {
  background:black; /* light */
}
.square:nth-child(even) {
  background:white; /* dark */
}
.square1 {
  width: 60px;
  height: 60px;
}
.square1:nth-child(even) {
  background:black; /* light */
}
.square1:nth-child(odd) {
  background:white; /* dark */
}
