/* Universal Selector */

*{
    /* width: 150px; */
    /* padding: 10px;
    margin: 20px;
    border:2px; */
    /* color:black; */
    /* box-sizing: border-box;  */
}

/* heading Call */
h1 {
    font-weight: 200px;
    /* display: flex; */
    /* text-align: center; */
    /* font-size: medium; */
}

.r01{
    display: flex;
    align-items: center;
    font-size: 48px;
}

#image_01{
    border-radius: 50%;
    border: 5px solid black;
}


/* Normal Call */
div{
    background-color: rgb(33, 239, 85);
}


/* class call */
.header{
    background-color: aqua;
}

/* id call */
#header_main{
    background-color: brown;
}

.hello{
    
}

/* On the Top Id  >  class  >  normal */