table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

thead {
    background-color: #cce5ff;
}

tfoot {
    background-color: #d4edda;
    font-weight: bold;
}

.highlight {
    background-color: yellow;
}
caption{
  font-size: larger;
  font-weight: bolder;
}
